.login-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.gradient-background {
    height: 100vh; /* Full height */
    background: linear-gradient(to right, #ff7e5f, #feb47b); /* Example gradient */
    display: flex; /* Center content if needed */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.login-form h2 {
    margin: 0;
    color: #333;
    margin-bottom: 20px;
}

/* Input field styles */
.input-container {
    margin-bottom: 15px;
    text-align: left;
}

.input-container label {
    display: block;
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input-container input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

.input-container input:focus {
    border-color: #6e8efb;
    outline: none;
}

/* Button styles */
.login-button {
    width: 100%;
    padding: 10px;
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.login-button:hover {
    background: linear-gradient(135deg, #5a79d6, #8a64c9);
}

/* Link to register */
.register-text {
    margin-top: 15px;
    font-size: 14px;
}

.register-text a {
    color: #6e8efb;
    text-decoration: none;
    font-weight: bold;
}

.register-text a:hover {
    text-decoration: underline;
}
